{% extends "site/base.html.twig" %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/forms.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset("assets/vendor/jquery-validate/jquery.validate.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/vendor/jquery-validate/localization/messages_fr.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/js/pages/password.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mot de passe</h1>
        <a href="{{ path("profile") }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user fa-sm"></i> Revenir au profil</a>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Modifier le mot de passe</h6>
                </div>
                <div class="card-body">
                    <form id="password-form" method="post">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <label for="oldpassword">Mot de passe actuel</label>
                                <input type="password" class="form-control" id="oldpassword" name="oldpassword" required />
                            </div>
                            <div class="col-sm-12 col-md-4 mt-sm-5 mt-md-0">
                                <label for="newpassword">Nouveau mot de passe</label>
                                <input type="password" class="form-control" id="newpassword" name="newpassword" required />
                            </div>
                            <div class="col-sm-12 col-md-4 mt-sm-5 mt-md-0">
                                <label for="confirmnewpassword">Confirmer le mot de passe</label>
                                <input type="password" class="form-control" id="confirmnewpassword" name="confirmnewpassword" required />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">Enregistrer le nouveau mot de passe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}