{% extends 'auth/base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("css/forms.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset("vendor/jquery-validate/jquery.validate.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("vendor/jquery-validate/localization/messages_fr.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/pages/passwordforgot.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Mot de passe oublié</h1>
    </div>

    <p>Pour pouvoir changer ton mot de passe, tu dois avoir défini une adresse e-mail valide dans ton profil. Saisis ton pseudo ci-dessous pour y envoyer un lien de réinitialisation de mot de passe, que tu pourras utiliser pour le modifier.</p>

    <form id="passwordforgot-form" class="user" method="post">
        <div class="form-group">
            <input type="text" name="nickname" id="nickname" class="form-control form-control-user" required autofocus placeholder="Pseudo" />
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Changer mon mot de passe
        </button>
    </form>

    <hr>

    <div class="text-center">
        <a class="small" href="{{ path("login") }}">Retour à la page de connexion</a>
    </div>
{% endblock %}
