{% extends "site/base.html.twig" %}

{% block title %}Administration > Parties > Actualiser l'historique de parties{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ asset("assets/css/pages/admin.games.refresh.css") }}" />
{% endblock %}

{% block js %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset("assets/js/pages/admin.games.refresh.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Actualiser l'historique de parties</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Progression globale de l'actualisation</h6>
                </div>
                <div class="card-body">
                    <div class="progress">
                        <div id="gamesRefreshProgressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Détail de la progression de l'actualisation</h6>
                </div>
                <div id="gamesRefreshProgressLog" class="card-body overflow-hidden h-auto" data-user-id="{{ app.user.id }}">
                    <div class="alert alert-warning">Veuillez patienter pendant l'initialisation du processus d'actualisation de l'historique de parties...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}