{% extends "site/base.html.twig" %}

{% block title %}Administration > Utilisateurs{% endblock %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Liste des utilisateurs</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Utilisateurs</h6>
                    {% if app.user is not null %}
                        <a href="{{ path("admin_user_new") }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-user-plus fa-sm"></i> Créer un utilisateur
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="text-center">
                            <th>Pseudo</th>
                            <th>Date d'inscription</th>
                            <th>Date de dernière modification</th>
                            <th>Riot PUUID</th>
                            <th>Riot Account ID</th>
                            <th></th>
                        </thead>
                        {% for user in users %}
                            <tr class="text-center">
                                <td class="align-middle">
                                    <img class="img-profile rounded-circle mr-1" src="{{ asset("assets/img/avatars/" ~ user.picture) }}" alt="" width="auto" height="40" /> {{ user.nickname }}
                                </td>
                                <td class="align-middle">{{ user.registerAt|date("d/m/Y") }} à {{ user.registerAt|date("H:i") }}</td>
                                <td class="align-middle">{{ user.lastUpdateAt|date("d/m/Y") }} à {{ user.lastUpdateAt|date("H:i") }}</td>
                                <td class="align-middle">
                                    {% if user.riotPuuid is not null %}
                                        <span class="text-success"><i class="fas fa-check"></i> Oui</span>
                                    {% else %}
                                        <span class="text-danger"><i class="fas fa-times"></i> Non</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    {% if user.riotAccountId is not null %}
                                        <span class="text-success"><i class="fas fa-check"></i> Oui</span>
                                    {% else %}
                                        <span class="text-danger"><i class="fas fa-times"></i> Non</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    <a href="{{ path("admin_user_edit", { id: user.id }) }}" class="btn btn-sm btn-primary rounded-circle" title="Éditer le compte de {{ user.nickname }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ path("admin_user_riotid", { id: user.id }) }}" class="btn btn-sm bg-gray-900 rounded-circle" title="Récupérer les identifiants Riot Games de {{ user.nickname }}">
                                        <img src="{{ asset("assets/img/riotgames_icon.png") }}" alt="" width="auto" height="14" />
                                    </a>
                                    <a href="{{ path("admin_user_passwordreset", { id: user.id }) }}" class="btn btn-sm btn-dark rounded-circle" title="Réinitialiser le mot de passe du compte de {{ user.nickname }}">
                                        <i class="fas fa-key"></i>
                                    </a>
                                    {% if user.isActivated %}
                                        <a href="{{ path("admin_user_disable", { id: user.id }) }}" class="btn btn-sm btn-danger rounded-circle" title="Désactiver le compte de {{ user.nickname }}">
                                            <i class="fas fa-user-times"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path("admin_user_enable", { id: user.id }) }}" class="btn btn-sm btn-success rounded-circle" title="Activer le compte de {{ user.nickname }}">
                                            <i class="fas fa-user-check"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tfoot class="text-center">
                            <th>Pseudo</th>
                            <th>Date d'inscription</th>
                            <th>Date de dernière modification</th>
                            <th></th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}