{% extends "site/base.html.twig" %}

{% block title %}Administration > Utilisateurs > Éditer un utilisateur{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/bootstrap-select/css/bootstrap-select.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/dropify/css/dropify.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/forms.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/selectpicker.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset("assets/vendor/jquery-validate/jquery.validate.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/vendor/jquery-validate/localization/messages_fr.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/vendor/bootstrap-select/js/bootstrap-select.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/vendor/bootstrap-select/js/i18n/defaults-fr_FR.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/vendor/dropify/js/dropify.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/js/pages/user.edit.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Édition d'un utilisateur</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Informations de base</h6>
                </div>
                <div class="card-body">
                    <form id="edituser-form" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="userid" name="userid" value="{{ user.id }}" />
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="nickname">Pseudo</label>
                                <input type="text" class="form-control" id="nickname" name="nickname" required value="{{ user.nickname }}" />
                            </div>
                            <div class="col-sm-12 col-md-6 mt-sm-5 mt-md-0">
                                <label for="email">Adresse e-mail</label>
                                <input type="email" class="form-control" id="email" name="email" required value="{{ user.email }}" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-12 col-md-4">
                                <label for="riotPuuid">Identifiant unique global Riot Games</label>
                                <input type="text" class="form-control" id="riotPuuid" name="riotPuuid" value="{{ user.riotPuuid }}" />
                            </div>
                            <div class="col-sm-12 col-md-4 mt-sm-5 mt-md-0">
                                <label for="riotAccountId">Identifiant unique serveur Riot Games</label>
                                <input type="text" class="form-control" id="riotAccountId" name="riotAccountId" value="{{ user.riotAccountId }}" />
                            </div>
                            <div class="col-sm-12 col-md-4 mt-sm-5 mt-md-0">
                                <label for="riotId">Identifiant Riot Games</label>
                                <input type="text" class="form-control" id="riotId" name="riotId" value="{{ user.riotAccountId }}" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-12">
                                <label for="lane">Poste dans l'équipe</label>
                                <select class="selectpicker form-control" id="lane" name="lane">
                                    <option selected value="" hidden>Choisis un poste...</option>
                                    {% for lane in lanes %}
                                        <option value="{{ lane.id }}" {% if user.lane is not null and user.lane.id is same as(lane.id) %}selected{% endif %} {% if lane.name == "Aléatoire" %}hidden{% endif %}>
                                            {{ lane.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-12">
                                <label for="picture">Photo</label>
                                <input type="file" name="picture" id="picture" data-default-file="{{ asset("assets/img/avatars/" ~ user.picture) }}" data-min-width="100%" data-max-width="100%" data-height="350" data-allowed-file-extensions="jpg jpeg gif png" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">Enregistrer les modifications</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}