<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Team Chapo | {% block title %}{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Le site de la Team Chapo, joueurs de League of Legends !" />
        <meta name="author" content="InFinity_54" />
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/fontawesome-free/css/all.min.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/fonts.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/template.min.css") }}" />
        {% block css %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/toastr/toastr.min.css") }}" />
    </head>
    <body class="bg-gradient-primary">
        <div class="d-flex align-items-center min-vh-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12 col-md-9">
                        <div class="card o-hidden border-0 shadow-lg my-5 align-middle">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            {% block body %}{% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset("assets/vendor/jquery/jquery.min.js") }}"></script>
        <script src="{{ asset("assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
        <script src="{{ asset("assets/vendor/jquery-easing/jquery.easing.min.js") }}"></script>
        <script src="{{ asset("assets/vendor/toastr/toastr.min.js") }}"></script>
        <script src="{{ asset("assets/js/template.min.js") }}"></script>
        {% block js %}{% endblock %}
        {% include "auth/includes/flashes.html.twig" %}
    </body>
</html>