{% extends "site/base.html.twig" %}

{% block title %}Équipe > Historique de parties{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ asset("assets/css/pages/teams.games.index.css") }}" />
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset("assets/js/tooltips.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Historique de parties de l'équipe</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Historique de parties</h6>
                </div>
                <div class="card-body">
                    {% if games|length > 0 %}
                        {% for game in games %}
                            <div class="row">
                                <div class="col-sm-12 col-lg-6 text-sm-center text-lg-left">
                                    <i class="fas fa-id-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Identifiant de la partie"></i> {{ game.infos.riotId}} | <i class="fas fa-calendar-alt" data-bs-toggle="tooltip" data-bs-placement="top" title="Date et heure de début de la partie"></i> {{ game.infos.startDate|date("d/m/Y") }} à {{ game.infos.startDate|date("H:i") }} | <i class="fas fa-clock" data-bs-toggle="tooltip" data-bs-placement="top" title="Durée totale de la partie"></i> {{ game.infos.duration }}
                                </div>

                                <div class="col-sm-12 col-lg-6 text-sm-center text-lg-right">
                                    <i class="fas fa-gamepad" data-bs-toggle="tooltip" data-bs-placement="top" title=""></i> {{ game.queue.description }} | <i class="fas fa-users"></i> {{ game.queue.playersNumber }} | <i class="fas fa-hand-pointer"></i> {{ game.queue.pickMode }}
                                </div>
                            </div>

                            <div class="row mt-3 d-sm-block d-lg-none">
                                <div class="col-sm-12 text-center">
                                    <a href="#" class="btn btn-block btn-primary"><i class="fas fa-info"></i> Détail de la partie</a>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-sm-12 col-lg-5">
                                    <p class="teamName text-primary text-center font-weight-bold">
                                        {% if game.teams.100.infos.win %}<span class="teamWin"><i class="fas fa-trophy" data-bs-toggle="tooltip" data-bs-placement="top" title="Victoire"></i></span>{% endif %}
                                        {% if game.teams.100.isTeamChapo %}TEAM CHAPO{% else %}ÉQUIPE BLEUE{% endif %}
                                    </p>
                                    <table class="w-100">
                                        <tr>
                                            {% for i in 0..4 %}
                                                {% if game.teams.100.players[i] is not null %}
                                                    <td class="text-center teamPlayer">
                                                        <img src="{{ asset("riot/lol/img/champion/tiles/" ~ game.teams.100.players[i].champion.image) }}" alt="{{ game.teams.100.players[i].champion.name }}" class="mb-1" width="100%" height="auto" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ game.teams.100.players[i].champion.name }}" />
                                                        <br />
                                                        <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ game.teams.100.players[i].summonerSpell1Id ~ ".png") }}" alt="" width="40%" height="auto" /> <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ game.teams.100.players[i].summonerSpell2Id ~ ".png") }}" alt="" width="40%" height="auto" />
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                            {% if game.teams.100.players[5]|length > 0 %}
                                                {% for player in game.teams.100.players[5] %}
                                                    {% if player is not null %}
                                                        <td class="text-center teamPlayer">
                                                            <img src="{{ asset("riot/lol/img/champion/tiles/" ~ player.champion.image) }}" alt="{{ player.champion.name }}" class="mb-1" width="100%" height="auto" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ player.champion.name }}" />
                                                            <br />
                                                            <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ player.summonerSpell1Id ~ ".png") }}" alt="" width="40%" height="auto" /> <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ player.summonerSpell2Id ~ ".png") }}" alt="" width="40%" height="auto" />
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-12 col-lg-2 text-center fond-weight-bold align-middle gameVersus">
                                <span>
                                    VS
                                    <span class="d-sm-none d-lg-block">
                                        <br />
                                        <a href="#" class="btn btn-sm btn-primary"><i class="fas fa-info"></i> Détail de la partie</a>
                                    </span>
                                </span>
                                </div>
                                <div class="col-sm-12 col-lg-5">
                                    <p class="teamName text-danger text-center font-weight-bold">
                                        {% if game.teams.200.infos.win %}<span class="teamWin"><i class="fas fa-trophy" data-bs-toggle="tooltip" data-bs-placement="top" title="Victoire"></i></span>{% endif %}
                                        {% if game.teams.200.isTeamChapo %}TEAM CHAPO{% else %}ÉQUIPE ROUGE{% endif %}
                                    </p>
                                    <table class="w-100">
                                        <tr>
                                            {% for i in 0..4 %}
                                                {% if game.teams.200.players[i] is not null %}
                                                    <td class="text-center teamPlayer">
                                                        <img src="{{ asset("riot/lol/img/champion/tiles/" ~ game.teams.200.players[i].champion.image) }}" alt="{{ game.teams.200.players[i].champion.name }}" class="mb-1" width="100%" height="auto" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ game.teams.200.players[i].champion.name }}" />
                                                        <br />
                                                        <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ game.teams.200.players[i].summonerSpell1Id ~ ".png") }}" alt="" width="40%" height="auto" /> <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ game.teams.200.players[i].summonerSpell2Id ~ ".png") }}" alt="" width="40%" height="auto" />
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                            {% if game.teams.200.players[5]|length > 0 %}
                                                {% for player in game.teams.200.players[5] %}
                                                    {% if player is not null %}
                                                        <td class="text-center teamPlayer">
                                                            <img src="{{ asset("riot/lol/img/champion/tiles/" ~ player.champion.image) }}" alt="{{ player.champion.name }}" class="mb-1" width="100%" height="auto" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ player.champion.name }}" />
                                                            <br />
                                                            <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ player.summonerSpell1Id ~ ".png") }}" alt="" width="40%" height="auto" /> <img src="{{ asset("riot/lol/latest/img/summonerspells/" ~ player.summonerSpell2Id ~ ".png") }}" alt="" width="40%" height="auto" />
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Aucune partie n'est actuellement disponible dans la base de données.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}